html{
    scroll-behavior: smooth;
}
a{
    color: var(--font-color);
    text-decoration: underline var(--user-main-color);
    transition: all .3s;
}
a:hover{
    color: var(--user-main-color);
}
p > i{
    color: red;
}
.part{
    margin-bottom: 2rem;
}
details{
    background-color: var(--bg-highlight-color);
    border-radius: 10px;
    cursor: default;
}
summary{
    background-color: var(--bg-highlight2-color);
    padding: 1rem;
    border-radius: 10px;
    list-style: none;
    font-weight: bold;
    cursor: pointer;
}
details p{
    margin: 1rem;
    margin-left: 2rem;
    display: inline-block;
    line-height: 1.5rem;
}
li{
    margin-left: 3rem;
}

details[open] > summary{
    border-radius: 10px 10px 0px 0px;
}
details:hover,
details[open]{
    filter: drop-shadow(0px 5px 5px var(--shadow));
}
h2{
    margin-top: 4rem;
}
h2:first-of-type{
    margin-top: 0;
}
#search-btn,
#scanner-btn{
    margin-top: 0;
}
#main{
    margin-bottom: 4rem;
}
button{
    background-color: var(--bg-highlight-color);
    color: var(--font-color);
    border: 1px solid var(--font-color);
    border-radius: 5px;
    padding: .5rem 1rem;
    margin-top: 1rem;
    transition: all .3s;
    cursor: pointer;
}
p button:hover,
#cookie-del-frage button.yes{
    color: red;
    border-color: red;
}
button.ok{
    color: rgb(0, 207, 0);
    border-color: rgb(0, 207, 0);

}
.alert{
    background-color: var(--bg-color);
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid var(--font-color);
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    position: fixed;
    left: 50%;
    top: 50%;
}
.button-container{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
@media (max-width: 600px) {
    details p{
        margin-left: 1rem;
    }
    li{
        margin-left: 2rem;
    }
    .alert{
        width: 70%;
    }
    .alert .button-container button{
        width: 49%;
    }
}