#filamentheading{
    font-weight: bold;
    font-size: 120%;
    border-bottom-width: 2px;
    height: 2rem;
    position: sticky;
    top: 0;
    filter: drop-shadow(0px 5px 5px var(--shadow));
    cursor:default;
}
#filamentheading:hover{
    background-color: var(--bg-color);
}
#filamentheading .img{
    background-image: none;
    background-color: transparent;
}
#filamentheading .box .row button{
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: var(--font-color);
    font-size: inherit;
    cursor: pointer;
    display: block;
    height: 2rem;
    margin-top: -2px;
}
#filamentheading .box .row button span.material-symbols-outlined{
    border-bottom: none !important;
    height: 2rem;
}
#filamentheading .box .row button .line{
    display: block;
    width: 0%;
    background-color: var(--font-color);
    transition: all .3s;
    margin-top: 0.5rem;
    height: 2px;
}
#filamentheading .box .row button:hover .line{
    width: 100%;    
}
.filament{
    display: flex;
    justify-content: space-between;
    padding: .5rem 0rem;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--bg-highlight-color);
    transition: all .3s;
}
.filament:nth-last-child(1){
    border-bottom: none;
}
.filament:hover{
    background-color: var(--bg-highlight-color);
}
.img{
    width: 5%;
    aspect-ratio: 1/1;
    background-size: cover;
    background-image: url('../icons/no-benchy.png');
    background-color: var(--bg-highlight-color);
    overflow: hidden;
}
img#benchy{
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: var(--bg-highlight-color);
}
img#spool{
    display: none;
}
.box{
    width: 92%;
    display: flex;
    align-items: center;
}
.box .row:nth-child(1){
    width: 45%;
    margin-right: 2rem;
}
.box .row{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.box .row div{
    text-align: left;
    width: 10%;
}
.colordot{
    display:inline-block;
    width: 1rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: .5rem;
    border:1px solid var(--bg-highlight2-color);
}
.box .row .durchmesser{
    margin-right: 10%;
}
.box .row .besitzer{
    width:19%
}
.filament .material-symbols-outlined{
    border-bottom: 2px solid var(--font-color);
    margin-right: .5rem;
    font-size: 100%;
}
.additionalinfo{
    display: none;
}

@media (max-width:1600px){
    #filamentheading{
        display: none;
    }
}
@media (max-width:1300px){
    .box{
        display: block;
    }
}
@media (max-width:1300px){
    .img{
        width: 15%;
    }
    .box{
        width: 80%;
        margin-left: 5%;
    }
    .box .row{
        width: 80%;
    }
    .hersteller{
        font-size: 130%;
        white-space: nowrap;
        align-items: baseline;
        display: flex;
    }
    .box .row:nth-child(1){
        display: flex;
        align-items: baseline;
    }
    .box .row:nth-child(1) .hersteller,
    .box .row:nth-child(1) .material{
        width: 100%;
        margin-right: 1rem;
    }
    .box .row:nth-child(2){
        color: var(--bg-highlight2-color);
        margin-top: .5rem;
    }
    .box .row:nth-child(2) .preis{
        margin-right: -2rem;
    }
    .farbe,.rpeis,.anzahl,.besitzer{
        display: none;
    }
    .filament .material-symbols-outlined{
        border-bottom: 2px solid var(--bg-highlight2-color);
    }
}