html{
    scrollbar-width: thin;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    min-height: 100lvh;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
/*:root*/
img{
    width: 100%;
    height: auto;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Header*/
#header{
    width: 100%;
    height: 6rem;
    background-color: var(--bg-highlight-color);
    position: relative;
    z-index: 5;
    filter: drop-shadow(5px 5px 5px var(--shadow));
}
#inner-header{
    width: 100%;
    display: flex;
}
#header a{
    margin-left: 5%;
    height: 6rem;
    min-width: 15%;
    margin-right: 5%;
    transition: all .2s;
    background-color: var(--user-main-color);
}
#header a img{
    height: 70%;
    width: auto;
}
/*Suche*/
#suche{
    width: 90%;
    height: 6rem;
}
#suche form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#suche form #text-input{
    width: 100%;
    height: 50%;
    font-size: 200%;
    padding-left: 2%;
    background-color: var(--bg-highlight2-color);
    color: var(--font-color);
    border:solid var(--font-color) 1px;
    border-radius: 5px;
}
#suche #text-input:focus{
    border-color: var(--user-main-color) !important;
    outline: none;
    filter: drop-shadow(0px 5px 5px var(--shadow));
}
#suche button{
    background-color: var(--bg-highlight-color);
    margin-left: -4.8rem;
    height: calc(50% + .3rem);
    width: 5rem;
    font-size: 200%;
    border-radius: 0px 5px 5px 0px;
    border-style: none;
    border: 1px solid var(--font-color);
    z-index: 2;
    transition: all .2s;
}
#suche button:hover{
    background-color: var(--bg-highlight2-color);
}
#suche #text-input:focus + button{
    border-color: var(--user-main-color);
    border-left-color: var(--font-color);
}
#scanner-btn{
    display: none;
}
#suche #search-btn span,
#suche #scanner-btn span{
    color: var(--font-color);
    font-size: 130%;
    margin-top: .3rem;
}
/*User*/
#user{
    width: 8rem;
    height: 4rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: .5rem;
    justify-content: end;
    padding: 7px 40px;
    border-radius: 10px;
    border: 1px solid var(--bg-highlight-color);
    transition: all .2s;
    user-select: none;
    flex: 1;
}
#user:hover{
    border: 1px solid var(--font-color);
}
#user-name{
    font-size: 150%;
}
#user-profile-img img{
    width: 4rem;
    aspect-ratio: 1/1 !important;
    border-radius: 35px;
    margin-left: 15%;
}
#user-settings{
    justify-content: end;
    position: absolute;
    transform: translateY(-13rem);
    transition: transform .5s ease-in-out;
    z-index: 1;
    right: 0;
    margin-left: auto;
    margin-right: 2%;
    padding: 1rem;
    width: 10%;
    min-height: 5rem;
    border: 2px solid var(--bg-highlight-color);
    border-radius: 0px 0px 10px 10px;
    background-color: var(--bg-color);
    filter: drop-shadow(5px 5px 5px var(--shadow));
}
#user-settings input[type="color"]{
    padding:0;
}
#color-input-heading{
    font-size: 120%;
}
#dark-light{
    width: max-content;
    height: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#dark-light-toggle{
    width: 2rem;
    height: 1rem;
    border: 2px solid var(--font-color);
    border-radius: 25px;
    margin-inline: .5rem;
    display: flex;
    align-items: center;
}
#kugel{
    display: inline-block;
    height: .8rem;
    aspect-ratio: 1/1;
    border-radius: 25px;
    background-color: var(--font-color);
    margin-left: .1rem;
    margin-right: .1rem;
    transition: all .3s;
}
#login-button-div{
    width: 100%;
    height: 100%;
    margin-top: 1rem;
}
#login-button{
    width: 100%;
    height: 3rem;
    background-color: var(--bg-highlight-color);
    border:2px solid var(--font-color);
    border-radius: 5px;
    color: var(--font-color);
    font-size: 120%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    transition: all .3s;
}
#login-button:hover{
    border-color: var(--user-main-color);
}
.material-symbols-outlined{
    margin-top: 0rem;
    margin-left: .5rem;
    transition: all .3s;
}
#login-button:hover .material-symbols-outlined{
    color: var(--user-main-color);
    margin-left: 2rem;
}

/*Main*/
#main{
    margin-top: 2rem;
    margin-inline: auto;
    width: 80%;
    flex: 1 0 auto
}
#controls{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
#controls #addbtn{
    min-width: 10%;
    height: 2.5rem;
    background-color: var(--bg-highlight2-color);
    border: 2px solid var(--bg-highlight2-color);
    border-radius: 5px;
    color: var(--font-color);
    font-size: 110%;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .2s;
    outline: none;
}
#controls #addbtn:hover{
    filter: drop-shadow(0px 5px 5px var(--shadow));
}
#toggleswitch{
    display: flex;
    justify-content: end;
    transition: all .2s;
}
#toggleswitch button{
    min-width: 15%;
    height: 2.5rem;
    background-color: var(--bg-color);
    border: 2px solid var(--bg-highlight2-color);
    color: var(--font-color);
    font-size: 110%;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .2s;
    outline: none;
    padding-right: .6rem;
    border-radius: 0px 5px 5px 0px;
}
#toggleswitch button span{
    color: var(--bg-highlight2-color);
}
#toggleswitch:hover{
    filter: drop-shadow(0px 5px 5px var(--shadow));
}
#toggleswitch button.active{
    background-color: var(--bg-highlight-color) !important;
    color: var(--font-color);
}
#toggleswitch button.active span{
    color: var(--font-color);
}
#listbtn{
    transform: rotateY(180deg);
}
#gridbtn{
    margin-left: -1px;
    border-left: 0px;
}
#filament-output{
    margin-bottom: 2rem;
}
#addfilamentbtn{
    width: 8rem;
    aspect-ratio: 1/1;
    background-color: var(--blk);
    color: var(--font-color);
    margin-inline: auto;
    margin-top: 20vh;
    margin-bottom: 20vh;
    font-size: 700%;
    border-radius: 50%;
    color: var(--bg-highlight2-color);
    transition: all .2s;
    text-decoration: none;
}
#addfilamentbtn:hover{
    background-color: var(--bg-highlight-color);
    filter: drop-shadow(0px 0px 5px var(--shadow));
}

/*Filament*/
.filament{
    transition: all .3s;
}

/*Add Form*/
#add-form{
    width: 100%;
    display: block    ;
}
#add-form label{
    width: 15%;
    display: inline-block;
}
#add form label input #bed-temp::after,
#add form label input #nozzle-temp::after{
    content: "°C";
}
#add-form #diameter-input,
#add-form #diameter-radio{
    display: flex;
}
#add-form input,
#add-form textarea{
    outline: none;
    margin-bottom: .5rem;
    background-color: var(--bg-highlight-color);
    border: 1px solid var(--bg-highlight2-color);
    border-radius: 5px;
    color: var(--font-color);
    font-size: 110%;
    width: 50%;
    padding: .2rem .5rem;
}
#add-form input:disabled{
    background-color: var(--bg-color);
    color: var(--bg-highlight2-color);
    user-select: none;
}
#add-form input:focus{
    border-color: var(--user-main-color);
}
#add-form input[type="color"]{
    width: 5%;
    padding:0
}
#add-form select{
    appearance: none; /* Remove default arrow for custom styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: .2rem .5rem;
    height: 2.5rem;
    background-color: var(--bg-highlight-color);
    border: 1px solid var(--bg-highlight2-color);
    color: var(--font-color);
    font-size: 110%;
    border-radius: 5px;
    margin-top: .5rem;
    margin-bottom: .8rem;
}
#add-form option{
    background-color: var(--bg-highlight-color);
    color: var(--font-color);
}
#add-form #diameter-input #diameter1{
    width: 40%;
}
#add-form input[type="file"]{
    padding: 0 !important;
    height: 2.2rem;
    width: 50.7% !important;
}
input[type="file"]::file-selector-button{
    background-color: var(--bg-highlight-color);
    border-color: var(--bg-highlight2-color);
    border-width: 1px;
    border-style: solid;
    color: var(--font-color);
    background-color: var(--bg-highlight2-color);
    height:2.2rem;
    width: 10rem;
    margin-right: 1rem;
}
#add-form #additionalinfo{
    resize:vertical;
    min-height: 4rem;
}
#add-form #buttons{
    display: flex;
    width: 100%;
    margin-top: 2rem;
}
#add-form #buttons button{
    width: 12%;
    height: 3rem;
    font-size: 120%;
    border-radius: 5px;
    border-style: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .2s;
    outline: none;
}
#add-form #buttons #savebtn{
    background-color: var(--user-main-color);
    color: var(--font-color);
    margin-right: 2rem;
}
#add-form #buttons #resetbtn{
    background-color: var(--background-color);
    color: var(--font-color);
    border: 2px solid var(--font-color);
}

/*Cookies*/
#cookies{
    height: 4rem;
    width: 100%;
    background-color: var(--bg-highlight-color);
    display: none;
    bottom: 0;
    position: fixed;
    z-index: 10;
}
#cookies-content{
    width: 70%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#cookies a{
    color: var(--font-color);
    transition: all .2s;
    justify-content: start;
    text-decoration: none;
}
#cookies a:hover{
    color: var(--user-main-color);
}
#cookies button{
    width: 10%;
    height: 2.5rem;
    background-color: var(--bg-highlight-color);
    border: 2px solid;
    color: var(--font-color);
    font-family: 'Courier New', Courier, monospace;
    font-size: 130%;
    border-radius: 10px;
    transition: all .2s;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-color: var(--user-main-color);
}
#cookies button:hover{
    color: var(--user-main-color);
    filter: drop-shadow(0px 0px 5px var(--user-main-color));
}


/*Footer*/
#footer{
    width: 100%;
    height: 4rem;
    background-color: var(--bg-highlight-color);
    border-top:1px solid var(--bg-highlight2-color);
    user-select: none;
    bottom: 0;
    position: relative;
    flex-shrink: 0;
}
#footer-content{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
#footer-content a{
    color: var(--font-color);
    text-decoration: none;
    transition: all .2s;
}
#footer-content a:hover{
    color: var(--user-main-color);
}
#githublink{
    height: 2rem;
    aspect-ratio: 1/1;
    margin-top: .2rem;
    background-image: var(--github-icon);
    background-size: cover;
    background-repeat: no-repeat;
}
#githublink:hover{
    filter: drop-shadow(0px 0px 5px var(--user-main-color));
}

@media (max-width:1100px) {
    #header a{
        min-width: 20%;
    }
    #add-form label{
        width: 30%;
    }
    #add-form #diameter-input #diameter1{
        width: 100%;
    }
}
@media (max-width:800px) {
    #header a{
        min-width: 25%;
    }
    #search-btn{
        display: none;
    }
    #scanner-btn{
        display: flex;
        font-size: 100%;
    }
    #scanner-btn span{
        margin-left: 0rem;
    }
}
@media (max-width:650px) {
    #header{
        height: 4rem;
    }
    #header a{
        height: 4rem;
        width: 35%;
        margin-left: 0;
    }
    /*suche*/
    #suche{
        width: 50%;
        height: 4rem;
        font-size: 80%;
        margin-right: .5rem;
    }
    #suche button{
        width: 3rem;
        margin-left: -2.9rem;
    }
    #suche #search-btn span,
    #suche #scanner-btn span{
        margin-top: 0rem;
        margin-left: -.1rem;
    }
    /*user*/
    #user{
        right: 0;
        margin-left: auto;
        margin-right: 1rem;
        margin-top: .1rem;
        padding: 0;
        border:none;
    }
    #user:hover{
        border: none;
    }
    #user-name{
        display: none;
    }
    #user-profile-img img{
        width: 3rem;
    }
    #user-settings{
        width: 50%;
        margin-right: 0;
    }
    /*Main*/
    #main{
        width: 95%;
    }

    /*Add Form*/
    #add-form label{
        width: 40%;
    }
    #add-form input[type="color"]{
        width: 20%;
    }
    #add-form #diameter-radio{
        display: block;
        width: 10%;
    }
    #add-form #diameter-input{
        display: flex;
    }
    #add-form #diameter-input #diameter1,
    #add-form #diameter-input #diameter2{
        width: 10%;
    }
    input[type="file"]::file-selector-button{
        width: 100%;
    }
    #add-form #buttons{
        margin-bottom: 2rem;
    }
    #add-form #buttons button{
        width: 45%;
    }
    #resetbtn{
        margin-left: -1rem;
    }
    /*Footer*/
    
    #footer-content{
        width: 75%;
    }
    #cookies-content{
        width: 80%;
    }
    #cookies button{
        width: 25%;
    }
}
@media (max-width:430px) {
    #footer-content{
        width: 95%;
        justify-content: space-evenly;
        text-align: center;
    }
    #githublink{
        margin-left: .3rem;
    }
}