:root{
    --user-main-color: rgb(255, 0, 221);
    --font-color: #ccc;
    --bg-color: #262626;
    --bg-highlight-color: #303030;
    --bg-highlight2-color: #404040;
    --shadow: rgb(31, 31, 31);
    --blk: rgb(24, 24, 24);
}
[data-theme="dark"]{
    --font-color: #111;
    --bg-color: #fcfcfc;
    --bg-highlight-color: #f3f2f2;
    --bg-highlight2-color: #dfdfdf;
    --shadow: rgb(163, 163, 163);
    --blk: rgb(107, 107, 107);
}